<header>
  <div class="wrapper">
    <div class="superior-header">
      <%= image_tag "emblem.svg", :class => "emblem" %>
      <ul class="header-partners-list">
        <li class="header-partners-list-item"><em>Sponsors:</em></li>
        <li class="header-partners-list-item"><%= image_tag "image.png", :class => "emblem" %></li>
        <li class="header-partners-list-item"><%= image_tag "image.png", :class => "emblem" %></li>
      </ul>
    </div>
  </div>
</header>
