<header>
  <div class="wrapper">
    <div class="superior-header">
      <%= image_tag "emblem.svg", :class => "emblem" %>
      <ul class="header-partners-list">
        <% @master_categories.each do |category| %>
          <li class="header-partners-list-item title"><%= category.title %>:</li>
          <% category.related_sponsors.each do |sponsor| %>
            <li class="header-partners-list-item">
              <%= image_tag sponsor.sponsor_image.url(:small) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
