nav
  .wrapper
    ul.menu
      li.menu-item
        = link_to 'Item 1', '#'
        ul.sub-menu
          li.sub-menu-item = link_to 'Sub item 1.1', '#'
          li.sub-menu-item = link_to 'Sub item 1.1', '#'
          li.sub-menu-item = link_to 'Sub item 1.3', '#'
      li.menu-item = link_to 'Item 2', '#'
      li.menu-item = link_to 'Item 3', '#'
      li.menu-item = link_to 'Item 4', '#'
