$reset-font-size: 12px;
body {
  font-size: $reset-font-size;
}

.wrapper {
  @include outer-container;
  padding: 0 10px;
  max-width: 2000px;
}
.main {
  @include span-columns(7);
}
.another {
  @include span-columns(5);
}
